.container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 92vh;   
    width: 100%;         
    padding: 2vh;   
     
}

.left {
    width: 30%;
    top: 10%;
    left: 10%;
    height: 80%;
    margin-left: 2vh;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5%;
}

.right {
    display: flex;
    width: 50%;
    height: 80%;
    margin-right: 2vh;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5%;
}

canvas {
    position: relative;
    top: 0;
    left: 0;

}

.makeAMatchContainer {
    position: relative;
    background-color: beige;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.feature {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
    cursor: grab;
}

/* Styling for kernel dropzones */
.kernel {
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border: 3px dashed black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* highlight when dragging over a valid drop target */
.kernel.dragover {
    background-color: lightgreen;
}