.container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 92vh;   
    width: 100%;         
    padding: 2vh;   
     
}

.left {
    width: 40%;
    top: 10%;
    left: 10%;
    height: 80%;
    margin-left: 2vh;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5%;
}

.right {
    display: flex;
    width: 40%;
    height: 80%;
    margin-right: 2vh;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5%;
}

canvas {
    position: relative;
    top: 0;
    left: 0;

}